/* Coolors Exported Palette - coolors.co/2bae66-fcf6f5-000000-daa03d-616247 */

/* HSL */
$color1: hsla(147%, 60%, 43%, 1);
$color2: hsla(9%, 54%, 97%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(38%, 68%, 55%, 1);
$color5: hsla(62%, 16%, 33%, 1);

/* RGB */
$color1: rgba(43, 174, 102, 1);
$color2: rgba(252, 246, 245, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(218, 160, 61, 1);
$color5: rgba(97, 98, 71, 1);