/* Coolors Exported Palette - coolors.co/0a2463-145c9e-197bbd-eeeeff-464655 */

/* HSL */
$color1: hsla(222%, 82%, 21%, 1);
$color2: hsla(209%, 78%, 35%, 1);
$color3: hsla(204%, 77%, 42%, 1);
$color4: hsla(240%, 100%, 97%, 1);
$color5: hsla(240%, 10%, 30%, 1);

/* RGB */
$color1: rgba(10, 36, 99, 1);
$color2: rgba(20, 92, 158, 1);
$color3: rgba(25, 123, 189, 1);
$color4: rgba(238, 238, 255, 1);
$color5: rgba(70, 70, 85, 1);